include requirements.txt
include src/tcbench/libtcdatasets/resources/*yml
include src/tcbench/cli/rich.theme
include src/tcbench/FIGSHARE_RESOURCES.yml
recursive-exclude .*swp
recursive-exclude *.bck
